
<!-- NORMAL VIEW -->
<div class="d-none d-md-block container mt-3">
	<h6 style="font-size: 11px;">TEACHER EDUCATION COUNCIL SECRETARIAT - DOCUMENT TRACKING SYSTEM</h6>
    <div class="card" style="background-image: url('assets/images/TEC-BG.png');
            background-size: cover;">
		<div class="card-body row">
			<div class="col-md-12">
				<h3 class="text-white">{{ employee?.c_surname }}, {{ employee?.c_firstname }} {{ employee?.c_middlename }} {{ employee?.c_extensionname }}  
					<div class="float-end">
						@if(user_role == 1){<button class="warning" data-bs-toggle="offcanvas" data-bs-target="#admin"><i class="fa-solid fa-cog"></i> Settings</button>}
						<button class="danger" (click)="signOut()"><i class="fa-solid fa-right-from-bracket"></i> Sign Out</button>
					</div>
				</h3>
				<h6 class="text-white">{{employee?.office}}</h6>
			</div>
		</div>
	</div>
</div>

<!-- MOBILE VIEW -->
<div class="d-block d-md-none container mt-3">
	<h6 style="font-size: 11px;">TEACHER EDUCATION COUNCIL SECRETARIAT - DOCUMENT TRACKING SYSTEM</h6>
    <div class="card" style="background-image: url('assets/images/TEC-BG.png');
            background-size: cover;">
		<div class="card-body row">
			<div class="col-md-12">
				<h3 class="text-white">{{ employee?.c_surname }}, {{ employee?.c_firstname }} {{ employee?.c_middlename }} {{ employee?.c_extensionname }} </h3>
				<h6 class="text-white">{{employee?.office}}</h6>
				@if(user_role == 1){<button class="warning" data-bs-toggle="offcanvas" data-bs-target="#admin"><i class="fa-solid fa-cog"></i> Settings</button>}
				<button class="danger" (click)="signOut()"><i class="fa-solid fa-right-from-bracket"></i> Sign Out</button>
			</div>
		</div>
	</div>
</div>

<!-- NORMAL VIEW -->
<div class="d-none d-md-block container mt-3">
	<div class="card bg-light">
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<button class="btn primary" type="button" data-bs-toggle="modal" data-bs-target="#search"><i class="fa-solid fa-search"></i> Search</button>
					<button class="btn primary" type="button" data-bs-toggle="modal" data-bs-target="#logs"><i class="fa-solid fa-rectangle-list"></i> Release Logs</button>
				</div>
				<div class="col-md-2">
					
				</div>
				<div class="col-md-6">
					<div class="float-end">
						<button class="btn primary" type="button" data-bs-toggle="modal" data-bs-target="#release"><i class="fa-solid fa-upload"></i> Release</button>
						<button class="btn primary" type="button" data-bs-toggle="modal" data-bs-target="#receive"><i class="fa-solid fa-download"></i> Receive</button>
						<button class="btn success" type="button" data-bs-toggle="modal" data-bs-target="#create" (click)="displayDropdown()"><i class="fa-solid fa-plus"></i> Create</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MOBILE VIEW-->
<div class="d-block d-md-none container mt-3">
	<div class="card bg-light">
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					
				</div>
				<div class="col-md-12">
					<button class="btn primary" type="button" data-bs-toggle="modal" data-bs-target="#search"><i class="fa-solid fa-search"></i></button>
					<button class="btn primary" type="button" data-bs-toggle="modal" data-bs-target="#logs"><i class="fa-solid fa-rectangle-list"></i></button>
					<div class="float-end"><button class="btn success" type="button" data-bs-toggle="modal" data-bs-target="#create"><i class="fa-solid fa-plus"></i></button></div>
				</div>
				<div class="col-md-12">
					<div class="d-flex gap-2">
						<button class="btn primary flex-fill" type="button" data-bs-toggle="modal" data-bs-target="#release"><i class="fa-solid fa-upload"></i> Release</button>
						<button class="btn primary flex-fill" type="button" data-bs-toggle="modal" data-bs-target="#receive"><i class="fa-solid fa-download"></i> Receive</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mt-3">
	<div class="row">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
    		<li class="nav-item" role="presentation">
				<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#created" type="button" role="tab" aria-controls="created" aria-selected="true">Created</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#ongoing" type="button" role="tab" aria-controls="ongoing" aria-selected="false">Ongoing <span class="badge bg-danger">{{count_notif}}</span></button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#completed" type="button" role="tab" aria-controls="completed" aria-selected="false">Completed</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#cancelled" type="button" role="tab" aria-controls="cancelled" aria-selected="false">Cancelled</button>
			</li>
  		</ul>

		<div class="tab-content mt-3" id="tabContent">
    		<div class="tab-pane fade show active" id="created" role="tabpanel" aria-labelledby="home-tab">
				<div class="row">
					@for (docs of createddocs; track docs.id) {
						<div class="col-md-3 mb-3">
							<div class="card">
								<div class="card-body">
									{{docs.control_no}} <br/>
									<b [title]="docs.document_title">{{docs.document_title | slice:0:20 }}{{ docs.document_title.length > 20 ? '...' : '' }}</b> <br/>
									<p [title]="docs.originating_office">{{docs.originating_office_abbrev}}</p>
									<div class="row">
										<div class="col-md-12">
											@switch(docs.status) {
												@case (1) {<span class="badge bg-secondary">Created</span>}
												@case (2) {<span class="badge bg-primary">Released</span>}
												@case (3) {<span class="badge bg-primary">Ongoing</span>}
												@case (6) {<span class="badge bg-primary">Transferred</span>}
											}
										</div>
										<div class="col-md-12">
											@switch (docs.isConfidential) {
												@case (true) {<span class="badge bg-danger">Confidential</span>}
												@case (false) {<span class="badge bg-secondary">Public</span>}
											}
										</div>
										<div class="col-md-12">
											<div class="float-end">
												<button class="primary" (click)="viewDocument(docs.id, docs.status)" data-bs-toggle="modal" data-bs-target="#view">View</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
					<nav>
						<ul class="pagination justify-content-center">
							<li class="page-item" [class.disabled]="currentPageCreated === 1">
								<button	class="page-link" (click)="previousPageCreated()">Previous</button>
							</li>

							@for (page of pagesCreated; track page) {
								<li class="page-item" [class.active]="page === currentPageCreated">
									<button class="page-link" (click)="goToPageCreated(page)">{{ page }}</button>
								</li>
							}

							<li class="page-item" [class.disabled]="currentPageCreated === totalPagesCreated">
								<button	class="page-link" (click)="nextPageCreated()">Next</button>
							</li>
						</ul>
					</nav>
				</div>
    		</div>

    		<div class="tab-pane fade" id="ongoing" role="tabpanel" aria-labelledby="profile-tab">
      			<div class="row">
					@for (docs of receiveddocs; track docs.id) {
						<div class="col-md-3 mb-3">
							<div class="card">
								<div class="card-body">
									{{docs.control_no}} <br/>
									<b [title]="docs.document_title">{{docs.document_title | slice:0:20 }}{{ docs.document_title.length > 20 ? '...' : '' }}</b> <br/>
									<p [title]="docs.originating_office">{{docs.originating_office_abbrev}}</p>
									<div class="row">
										<div class="col-md-12">
											<span class="badge bg-primary">Ongoing</span>
										</div>
										<div class="col-md-12">
											@switch (docs.isConfidential) {
												@case (true) {<span class="badge bg-danger">Confidential</span>}
												@case (false) {<span class="badge bg-secondary">Public</span>}
											}
										</div>
										<div class="col-md-12">
											<div class="float-end">
												<button class="primary" (click)="viewDocument(docs.id, docs.status)" data-bs-toggle="modal" data-bs-target="#view">View</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
					<nav>
						<ul class="pagination justify-content-center">
							<li class="page-item" [class.disabled]="currentPageReceived === 1">
								<button	class="page-link" (click)="previousPageReceived()">Previous</button>
							</li>

							@for (page of pagesReceived; track page) {
								<li class="page-item" [class.active]="page === currentPageReceived">
									<button class="page-link" (click)="goToPageReceived(page)">{{ page }}</button>
								</li>
							}

							<li class="page-item" [class.disabled]="currentPageReceived === totalPagesReceived">
								<button	class="page-link" (click)="nextPageReceived()">Next</button>
							</li>
						</ul>
					</nav>
				</div>
    		</div>
    		<div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="contact-tab">
      			<div class="row">
					@for (docs of completeddocs; track docs.id) {
						<div class="col-md-3 mb-3">
							<div class="card">
								<div class="card-body">
									{{docs.control_no}} <br/>
									<b [title]="docs.document_title">{{docs.document_title | slice:0:20 }}{{ docs.document_title.length > 20 ? '...' : '' }}</b> <br/>
									<p [title]="docs.originating_office">{{docs.originating_office_abbrev}}</p>
									<div class="row">
										<div class="col-md-12">
											<span class="badge bg-success">Completed</span>
										</div>
										<div class="col-md-12">
											@switch (docs.isConfidential) {
												@case (true) {<span class="badge bg-danger">Confidential</span>}
												@case (false) {<span class="badge bg-secondary">Public</span>}
											}
										</div>
										<div class="col-md-12">
											<div class="float-end">
												<button class="primary" (click)="viewDocument(docs.id, docs.status)" data-bs-toggle="modal" data-bs-target="#view">View</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
					<nav>
						<ul class="pagination justify-content-center">
							<li class="page-item" [class.disabled]="currentPageCompleted === 1">
								<button	class="page-link" (click)="previousPageCompleted()">Previous</button>
							</li>

							@for (page of pagesCompleted; track page) {
								<li class="page-item" [class.active]="page === currentPageCompleted">
									<button class="page-link" (click)="goToPageCompleted(page)">{{ page }}</button>
								</li>
							}

							<li class="page-item" [class.disabled]="currentPageCompleted === totalPagesCompleted">
								<button	class="page-link" (click)="nextPageCompleted()">Next</button>
							</li>
						</ul>
					</nav>
				</div>
    		</div>
			<div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="contact-tab">
      			<div class="row">
					@for (docs of cancelleddocs; track docs.id) {
						<div class="col-md-3 mb-3">
							<div class="card">
								<div class="card-body">
									{{docs.control_no}} <br/>
									<b [title]="docs.document_title">{{docs.document_title | slice:0:20 }}{{ docs.document_title.length > 20 ? '...' : '' }}</b> <br/>
									<p [title]="docs.originating_office">{{docs.originating_office_abbrev}}</p>
									<div class="row">
										<div class="col-md-12">
											<span class="badge bg-danger">Cancelled</span>
										</div>
										<div class="col-md-12">
											@switch (docs.isConfidential) {
												@case (true) {<span class="badge bg-danger">Confidential</span>}
												@case (false) {<span class="badge bg-secondary">Public</span>}
											}
										</div>
										<div class="col-md-12">
											<div class="float-end">
												<button class="primary" (click)="viewDocument(docs.id, docs.status)" data-bs-toggle="modal" data-bs-target="#view">View</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
					<nav>
						<ul class="pagination justify-content-center">
							<li class="page-item" [class.disabled]="currentPageCancelled === 1">
								<button	class="page-link" (click)="previousPageCancelled()">Previous</button>
							</li>

							@for (page of pagesCancelled; track page) {
								<li class="page-item" [class.active]="page === currentPageCancelled">
									<button class="page-link" (click)="goToPageCancelled(page)">{{ page }}</button>
								</li>
							}

							<li class="page-item" [class.disabled]="currentPageCancelled === totalPagesCancelled">
								<button	class="page-link" (click)="nextPageCancelled()">Next</button>
							</li>
						</ul>
					</nav>
				</div>
    		</div>
  		</div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="admin" aria-labelledby="admin">
	<div class="offcanvas-header">
    	<h5 class="offcanvas-title" id="offcanvasExampleLabel">Settings</h5>
    	<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  	</div>
  	<div class="offcanvas-body">
		<div class="list-group">
      		<a href="/admin" class="list-group-item list-group-item-action"><i class="fa-solid fa-user"></i> Administrator</a>
    	</div>
		<div class="list-group">
      		<a href="/attachment" class="list-group-item list-group-item-action"><i class="fa-solid fa-paperclip"></i> Attachments</a>
    	</div>
    	<div class="list-group">
      		<a href="/category" class="list-group-item list-group-item-action"><i class="fa-solid fa-list"></i> Categories</a>
    	</div>
		<div class="list-group">
      		<a href="/doc-type" class="list-group-item list-group-item-action"><i class="fa-solid fa-file-circle-check"></i> Document Types</a>
    	</div>
		<div class="list-group">
      		<a href="/user-role" class="list-group-item list-group-item-action"><i class="fa-solid fa-users"></i> User Roles</a>
    	</div>
  	</div>
</div>

<div class="modal" id="create">
	<div class="modal-dialog modal-dialog-scrollable">
    	<div class="modal-content">

      		<div class="modal-header">
        		<h4 class="modal-title">Create Document</h4>
        		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      		</div>

      		<div class="modal-body">
        		<form>
            		<label>Title <span class="text-danger">*</span></label>
            		<input type="text" name="title"[(ngModel)]="title" class="form-control mb-3"/>
            		<label>Code</label>
            		<input type="text" name="code" [(ngModel)]="code" class="form-control mb-3"/>
            		<label>Type <span class="text-danger">*</span></label>
					<select class="form-select mb-3" [(ngModel)]="docType" name="docType">
						@for (docType of doctypes; track docType.id) {
							<option value="{{docType.id}}">{{ docType.type_name}}</option>
						}
					</select>
					<label>Category <span class="text-danger">*</span></label>
					<select class="form-select mb-3" [(ngModel)]="category" name="category" id="categoryDropdown">
						@for (category of categories; track category.id) {
							<option value="{{category.id}}">{{ category.category_name}}</option>
						}
					</select>

					<div class="mb-3">
						<label>Action Needed <span class="text-danger">*</span></label><br/>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="optradio" value="1" [(ngModel)]="action" checked>For Review
							<label class="form-check-label" for="radio1"></label>
						</div>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio3" name="optradio" value="3" [(ngModel)]="action">For Information
							<label class="form-check-label" for="radio3"></label>
						</div>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="optradio" value="2" [(ngModel)]="action">For Approval/Signature
							<label class="form-check-label" for="radio2"></label>
						</div>
					</div>

					<label>Remarks </label>
					<textarea name="remarks" [(ngModel)]="remarks" class="form-control mb-3"></textarea>

					<hr/>

					<label>Attachments </label>
					<select #attachmentSelect class="form-select" multiple="multiple" name="attachmentDropdown" id="attachmentDropdown">
					@for (attachment of attachments; track attachment.id) {
						<option value="{{attachment.id}}">{{attachment.attachment_name}}</option>
						<!-- <div class="form-check">
							<input type="checkbox" class="form-check-input" id="attachment" name="attachment" [(ngModel)]="attachment.selected" value="{{attachment.id}}">
							<label class="form-check-label" for="attachment">{{attachment.attachment_name}}</label>
						</div> -->
					}
					</select>

					<hr/>

					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="confidential" name="confidential" [(ngModel)]="confidential" value="true">
						<label class="form-check-label" for="confidential">Confidential</label>
					</div>

					<hr/>
					
					<div class="d-grid gap-3"><button class="btn success" (click)="createDocument()"> CREATE</button></div>
        		</form>
      		</div>

    	</div>
  	</div>
</div>

<div class="modal" id="view">
	<div class="modal-dialog modal-xl">
    	<div class="modal-content">

      		<div class="modal-header">
        		<h4 class="modal-title">View Document</h4>
        		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      		</div>

      		<div class="modal-body">
				<div class="float-end">
					<button class="primary" (click)="printRouting(this.control_no)"><i class="fa-solid fa-print"></i> Print</button>
				</div>
				
				<table class="table table-responsive table-hover">
					<tr>
						<th style="width: 30%">Control No.:</th>
						<td>{{this.control_no}}</td>
					</tr>
					<tr>
						<th>Title:</th>
						<td>{{this.title_view}}</td>
					</tr>
					<tr>
						<th>Code:</th>
						<td>{{this.code}}</td>
					</tr>
					<tr>
						<th>Type:</th>
						<td>{{this.docType}}</td>
					</tr>
					<tr>
						<th>Category:</th>
						<td>{{this.category}}</td>
					</tr>
					<tr>
						<th>Classification:</th>
						<td>
							@switch(this.confidential){
								@case (true) {Confidential}
								@case (false) {Public}
							}
						</td>
					</tr>
					<tr>
						<th>Attachments:</th>
						<td>
							@for(attach of attachment; track attach.id){
								{{attach.attachment_name}} <br/>
							}
						</td>
					</tr>
				</table>

				<hr/>

				<table class="table table-responsive table-bordered">
					<tr>
						<th style="width: 10%">DATE</th>
						<th style="width: 10%">TIME</th>
						<th style="width: 10%">STATUS</th>
						<th style="width: 10%">OFFICE</th>
						<th>PERSONNEL</th>
						<th style="width: 35%">REMARKS</th>
					</tr>
					@for(route of route; track route.id){
						<tr>
							<td>{{route.date}}</td>
							<td>{{route.time}}</td>
							<td>
								@switch(route.status){
									@case (1) {Created}
									@case (2) {Released}
									@case (3) {Ongoing}
									@case (4) {Completed}
									@case (5) {Cancelled}
									@case (6) {Transferred}
								}
							</td>
							<td>
								@if(route.office == null)
								{N/A}
								@else {{{route.office}}}
							</td>
							<td>{{route.personnel}}</td>
							<td>{{route.remarks}}</td>
						</tr>
					}
				</table>
				
      		</div>
			<div class="modal-footer">
				@if(this.status != 4 && this.status != 5) {
					<div class="float-end">
						<div class="btn-group">
							<button type="button" class="btn success" data-bs-toggle="modal" data-bs-target="#complete_document"><i class="fa-solid fa-check"></i> COMPLETE</button>
							<button type="button" class="btn danger"  data-bs-toggle="modal" data-bs-target="#revoke_document"><i class="fa-solid fa-multiply"></i> REVOKE</button>
						</div>
					</div>
				}
			</div>

    	</div>
  	</div>
</div>

<div class="modal" id="release">
	<div class="modal-dialog">
    	<div class="modal-content">

      		<div class="modal-header">
        		<h4 class="modal-title">Release Document</h4>
        		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      		</div>

      		<div class="modal-body">
        		<div class="row">

					@for(release of releasedocs; track release.id){
						<div class="col-md-12 mb-3">
							<div class="card">
								<div class="card-body">
									<table class="table">
										<tr>
											<td>
												<div class="form-check">
  													<input class="form-check-input shadow-sm bg-light" type="checkbox" name="forRelease" [(ngModel)]="release.selected" value="{{control_no}}" style="margin-left: 5%;">
												</div>
											</td>
											<td>
												{{release.control_no}} - 
												<b>{{release.document_title}}</b>
											</td>
										</tr>
										<tr>
											<td></td>
											<td>
												<div class="col-sm-12">
													<textarea class="form-control" name="release_remarks" [(ngModel)]="release.release_remarks" style="width: 100%;" placeholder="Input Remarks"></textarea>
												</div>
											</td>
										</tr>
									</table>
									
								</div>
							</div>
						</div>
					}
	
				</div>
      		</div>

			<div class="modal-footer">
				<div class="d-grid gap-3"><button class="btn primary" (click)="releaseDocument()"> RELEASE</button></div>
			</div>

    	</div>
  	</div>
</div>

<div class="modal" id="receive">
	<div class="modal-dialog">
    	<div class="modal-content">

      		<div class="modal-header">
        		<h4 class="modal-title">Receive Document</h4>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" (click)="reloadPage()"></button>
      		</div>

      		<div class="modal-body">
        		<div class="row">
					<div class="col-md-12 mb-3">
						<input type="text" class="form-control" name="document" [(ngModel)]="document" placeholder="xxxxxxxx-xxx" (keyup.enter)="receiveDocument()"/>
					</div>
					<div class="col-md-12">
    					<div class="d-flex gap-2">
							<button class="warning" (click)="startScanner()"><i class="fa fa-camera"></i></button>
							<button class="btn primary flex-fill" (click)="receiveDocument()"> RECEIVE</button>
						</div>
					</div>					
				</div>

				<div>
					<video #video width="100%" style="height:200px; object-fit:cover;" autoplay></video>
				</div>
				
      		</div>

    	</div>
  	</div>
</div>

<div class="modal" id="logs">
	<div class="modal-dialog modal-lg">
    	<div class="modal-content">

      		<div class="modal-header">
        		<h4 class="modal-title">Released Logs</h4>
        		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      		</div>

      		<div class="modal-body">
        		<div class="row">
					<table class="table" id="tblReleaseLogs">
						<thead>
							<tr>
								<th>Batch No.</th>
								<th>No. of Documents</th>
								<th>Date Released</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							@for (batch of releasedbatch; track batch.batch_no) {
								<tr>
									<td>{{batch.batch}}</td>
									<td>{{batch.total_docs}}</td>
									<td>{{batch.date}}</td>
									<td><button class="btn primary" (click)="printReceivingSlip(batch.batch)"><i class="fa-solid fa-print"></i></button></td>
								</tr>
							}
						</tbody>
					</table>
				</div>
      		</div>

    	</div>
  	</div>
</div>

<div class="modal" id="search">
	<div class="modal-dialog modal-xl">
    	<div class="modal-content">

      		<div class="modal-header">
        		<h4 class="modal-title">Search Document</h4>
        		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      		</div>

      		<div class="modal-body">
        		<div class="row">
					<div class="input-group mb-3">
						<input type="text" class="form-control" name="search" [(ngModel)]="search" placeholder="Search keyword" (keyup.enter)="fetchDocs()">
						<button class="btn btn-success" type="button" (click)="fetchDocs()"><i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
					
					<div class="row">
					@for (docs of searchdocs; track docs.id) {
						<div class="col-md-4 mb-3">
							<div class="card">
								<div class="card-body">
									{{docs.control_no}} <br/>
									<b [title]="docs.document_title">{{docs.document_title | slice:0:30 }}{{ docs.document_title.length > 30 ? '...' : '' }}</b> <br/>
									<p [title]="docs.originating_office">{{docs.originating_office_abbrev}}</p>
									<div class="row">
										<div class="col-md-12">
											@switch(docs.status) {
												@case (1) {<span class="badge bg-secondary">Created</span>}
												@case (2) {<span class="badge bg-primary">Released</span>}
												@case (3) {<span class="badge bg-primary">Ongoing</span>}
												@case (4) {<span class="badge bg-success">Completed</span>}
												@case (5) {<span class="badge bg-danger">Cancelled</span>}
												@case (6) {<span class="badge bg-primary">Transferred</span>}
											}
										</div>
										<div class="col-md-12">
											@switch (docs.isConfidential) {
												@case (true) {<span class="badge bg-danger">Confidential</span>}
												@case (false) {<span class="badge bg-secondary">Public</span>}
											}
										</div>
										<div class="col-md-12">
											<div class="float-end">
												<button class="button primary" (click)="viewDocument(docs.id, docs.status)" data-bs-toggle="modal" data-bs-target="#view">View</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
					<nav>
						<ul class="pagination justify-content-center">
							<li class="page-item" [class.disabled]="currentPage === 1">
								<button	class="page-link" (click)="previousPage()">Previous</button>
							</li>

							@for (page of pages; track page) {
								<li class="page-item" [class.active]="page === currentPage">
									<button class="page-link" (click)="goToPage(page)">{{ page }}</button>
								</li>
							}

							<li class="page-item" [class.disabled]="currentPage === totalPages">
								<button	class="page-link" (click)="nextPage()">Next</button>
							</li>
						</ul>
					</nav>

				</div>
      		</div>

    		</div>
  		</div>
	</div>
</div>

<div class="modal" id="complete_document">
	<div class="modal-dialog">
    	<div class="modal-content">

      		<div class="modal-header">
        		<h4 class="modal-title">Complete Document</h4>
        		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      		</div>

      		<div class="modal-body">
        		<div class="row">
					<div class="col-md-12 mb-3">
						<input type="text" class="form-control" name="document_complete" [(ngModel)]="document_complete"/>
					</div>
					<div class="d-grid gap-3"><button class="btn success" (click)="completeDocument(this.control_no)"> COMPLETE</button></div>
				</div>
      		</div>

    	</div>
  	</div>
</div>

<div class="modal" id="revoke_document">
	<div class="modal-dialog">
    	<div class="modal-content">

      		<div class="modal-header">
        		<h4 class="modal-title">Revoke Document</h4>
        		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      		</div>

      		<div class="modal-body">
        		<div class="row">
					<div class="col-md-12 mb-3">
						<input type="text" class="form-control" name="document_complete" [(ngModel)]="document_revoke"/>
					</div>
					<div class="d-grid gap-3"><button class="btn danger" (click)="cancelDocument(this.control_no)"> REVOKE</button></div>
				</div>
      		</div>

    	</div>
  	</div>
</div>