<div class="container mt-3">
  
    <div class="card mb-3" style="background-color: #040484;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9"><h4 class="text-white" style="padding-top:12px;">User Role</h4></div>
                <div class="col-md-3">
                    <div class="float-end">
                        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#add"><i class="fa-solid fa-add"></i> Entry</button>
                    </div>                        
                </div>
            </div>
        </div>
    </div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">User Role</li>
    </ol>

    <div class="card bg-light">
        <div class="card-body">
            <table id="tblUserRole">
                <thead>
                    <tr>
                        <th style="text-align: center;">ID</th>
                        <th style="text-align: center;">Personnel</th>
                        <th style="text-align: center; width:10%">Action</th>
                    </tr>
                </thead>

                <tbody> 
                    @for (user of users; track user.id) {
                        <tr>
                            <td style="width: 10%">{{ user.c_empID }}</td>
                            <td>{{ user.name }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn danger" (click)="deleteUser(user.id)"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="modal" id="add">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add Document Type</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form>
                    <label>Personnel: <span class="text-danger">*</span></label>
                    <select class="form-select mb-3" [(ngModel)]="personnel" name="transfer">
                        @for (employee of employees; track employee.id) {
                            <option value="{{employee.c_empID}}">{{ employee.c_surname}}, {{ employee.c_firstname}}</option>
                        }
                    </select>
                    <div class="d-grid gap-3"><button class="btn btn-success" (click)="addUser()"> ADD</button></div>
                </form>
            </div>

        </div>
    </div>
</div>